<!DOCTYPE html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--https://materializecss.com-->
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
  <div class="container">
      <h1>App Title <img src="../static/img/recycle-sign.png" width="50px"></h1>

      <div class="btn-div" id="toPhoto">
          <button type="button" class="waves-effect waves-light btn" onclick="photo()">Use photo instead</button>
      </div>

      <div class="btn-div" id="toText">
          <button type="button" class="waves-effect waves-light btn" onclick="text()">Input text instead</button>
      </div>

      <div id="typeIn">
          <form>
            City: <br>
            <input type="text" name="City" id="city"> <br>
            County: <br>
            <input type="text" name="County" id="county"><br>
            State:<br>
            <input type="text" name="State" id="state"><br>
            Describe material:<br>
            <input type="text" name="Material" id="material"><br>
            <button class="waves-effect waves-light btn" type="submit">Submit</button>
          </form>
      </div>

      <div id="imageUpload">
          <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
              <strong>Upload image:</strong><br>
              <input id="file-picker" type="file" name="file" accept="image/*">
              <div id="msg"></div>
              <input type="submit" value="Upload!" id="upload-button">
          </form>
      </div>

      <div class="btn-div">
          <button class="waves-effect waves-light btn" type="submit">Submit</button>
      </div>

</body>
